body{
    background: rgb(238, 238, 238);
}

input:invalid{
    border: 2px dashed red;
}

input:valid{
border:1px solid black;
}


.signin
{
    float:right;
}

.signin button
{
    float:right;
    margin: 3px 0px -20px 10px;
    padding:5px 20px 5px 20px;
    background-color: rgb(42, 108, 206);
    border-color: rgb(39, 40, 43);
    border-width: thin;
    border-radius: 5%;
    color: rgb(255, 255, 255);
}

.signin p
{
    margin-bottom:0px;
}

.signin a
{
    display:inline-block;
    font-size: small;
}


.center-form
{
    margin:auto;
    max-width: 19%;
    
}

.center-form div{
    text-align: center;
    
}


.form-title
{
    text-align:center;
}
.form-title h1
{
    font-size: x-large;
    margin-bottom: 0;
    color:rgb(90, 90, 90);
}
.form-title li
{
    display:inline-block; 
    color:rgb(90, 90, 90);
}
.form-title ul
{
    padding:0;
}


.fieldset-title 
{
    margin:10px 0 30px 0;
    font-size:large;
}

.fieldset-title div
{
    margin-top:10px;
    font-size: smaller;
}

.fieldset-title div p
{
    margin:0;
}


label 
{
    display:block;
    margin-right:180px;
    margin-bottom:45px;
    width:150px;
}
label input
{
    width:300px;
}

label p 
{
    width:325px;
    margin-top:0px;
    font-size: x-small;
}


.signup-label
{
    text-align: left;
}

.signup-button
{
    margin-left:10px;
    padding:10px 20px 10px 20px;
    background-color: rgb(42, 108, 206);
    border-color: rgb(39, 40, 43);
    border-width: thin;
    border-radius: 5%;
    color: rgb(255, 255, 255);
}


.captcha
{
    background-color: rgb(209, 209, 209);
    font-size: small;
    margin:0 -12px -10px -12px;
    padding:5px 0 5px 0;
}

fieldset{
    float:left;
    background-color:white;
   
}


.legal li
{
    display:inline-block;
    font-size: x-small;
}
.legal ul
{
    padding:0;
    margin:0;
}
.legal p
{
    margin-top:0;
    margin-bottom: 0;
    font-size: smaller;
    color:rgb(90, 90, 90);
}


footer
{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom:20px;
    margin: 50px -8px 0 -7px;
}

footer a{
    margin-left:10px;
}